.swiper_container {
  height: 22rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 12rem;
  height: 18rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 22rem;
  }
  .swiper-slide {
    width: 10rem !important;
    height: 12rem !important;
  }
  .swiper-slide img {
    width: 8rem !important;
    height: 12rem !important;
  }
}

.swiper-slide img {
  width: 12rem;
  height: 18rem;
  border-radius: 1rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
